Design Pattern/Design Pattern.xcodeproj/xcuserdata/chengsc.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
Design Pattern/Design Pattern.xcodeproj/xcuserdata/chengsc.xcuserdatad/xcschemes/xcschememanagement.plist
